{% extends "_layouts/cp.twig" %}

{% set selectedSubnavItem = 'schemas' %}
{% set fullPageForm = true %}
{% import "_includes/forms" as forms %}

{% set crumbs = [
  { label: "Query API Schemas", url: url('query-api/schemas') }
] %}

{% set formActions = [
  {
    label: 'Save and continue editing',
    redirect: 'query-api/schemas/{id}'|hash,
    shortcut: true,
    retainScroll: true,
  }
] %}

{% set schemaComps = getSchemaComponents() %}

{% do view.registerAssetBundle("samuelreichoer\\queryapi\\resources\\QueryApiAsset") %}
{% block content %}
  {{ actionInput('query-api/schema/save-schema') }}
  {{ redirectInput('query-api/schemas') }}

  {% if schema.id %}{{ hiddenInput('schemaId', schema.id) }}{% endif %}
  {{ forms.textField({
    first: true,
    label: "Name"|t('app'),
    instructions: "What this schema will be called in the control panel."|t('app'),
    id: 'name',
    name: 'name',
    value: schema.name,
    autofocus: true,
    errors: schema.getErrors('name'),
    required: true
  }) }}

  <hr>

  <h2 class="choose-permission-h2">Choose the available content for querying with this schema</h2>
  {% for catName, props in schemaComps.queries %}
    {{ include('query-api/_components/checkboxList/checkboxList.twig', {
      data: {
        headline: catName,
        permissions: props,
        schema: schema,
      }
    }, with_context = false) }}
  {% endfor %}
{% endblock %}

{% block details %}
  {% if usage %}
    <div class="meta read-only">
      <div class="data">
        <dt class="heading">Used By</dt>
        <dd class="value">
          <ul>
            {% for use in usage %}
              <a href="{{ use.url }}"> {{ use.name }}</a>
            {% endfor %}
          </ul>
        </dd>

      </div>
    </div>
  {% endif %}
{% endblock %}

{% js %}
  new Craft.ElevatedSessionForm('#main-form');
{% endjs %}
